RewriteEngine on
Options +FollowSymlinks
RewriteBase /
RewriteCond %{REQUEST_URI} !^/(yandex_43e48888c64838c9.html|index.php|robots.txt|style.css|(rasem|urnak)/)
RewriteRule (.*?)   /index.php   [L,QSA]