body{
    background-color:#341B18;
    font-family:Tahoma;
}
.clear{clear:both;}
#bash, .uzak, #ajaq{
    max-width: 1200px;
    min-width: 940px;
    clear:both;
    margin:0 auto;
}
#bash #oeyga{
    color:#ffc947;
    text-decoration:none;
    letter-spacing:1px;
    text-transform: uppercase;
    font-size:47px;
}
#bash h1{
    float:left;
}
#title{text-transform: uppercase;}
#versia{float:right;margin-left: 10px;}
#versia a{font-size:14px;color:white;}
#telefon{
    color:#ffc947;
    letter-spacing:1px;
    font-size:47px;
    float:right;
    margin-top:21px;
}
#jort{
    color:#241B18;
    background:#ffc947;
    border-radius:3px;
    padding-left:5px;
    padding-right:5px;
}
#title{float:left;margin-top:16px;}
ul, li {
    margin:0;
    padding:0;
    list-style-type:none;  
}
#menu_uze{float:right;padding-top:16px;postion:absolute;display:block;}
#menu_uze li{display:inline-block;margin-left:20px;height:28px;}
#menu_uze li ul li{display:block;border-bottom:1px solid white;padding:5px;margin:0;}
#menu_uze li a{text-decoration:none;color:white;}
#menu_uze li a:hover{color:#ffc947;}
#menu_uze li ul{display:none;position:absolute; border-right:1px solid white; border-left:1px solid white;
    margin-top:12px;background:#341B18;}
#menu_uze li:hover ul{display:block;}
#bash_menu{
    text-transform: uppercase;
    color:white;
    border-top:1px solid white;
    border-bottom:1px solid white;
    font-size:14px;
}
.logo{
    background:url('/rasem/mk/11.jpg');
    background-size:100% 100%;
    width:43px;
    height:43px;
}
.divar{
    clear:both;
    margin-left:auto;
    margin-right:auto;
    background:url('/rasem/taqta.png');
    max-width: 1440px;
    min-width: 940px;
}
.aq{
    max-width: 1200px;
    min-width: 940px;
    clear:both;
    margin:0 auto;
    background:white;
    min-height:300px;
}
#surat{clear:both; margin-left:auto;margin-right:auto;width:960px;}
.learnCarousel {
	width:970px;
	height:552px;
	//overflow:hidden;
	//position:relative;
	margin-left:auto;
	margin-right:auto;
	//margin-top:50px;
	//margin-bottom:80px;
	
}

.learnItem {
	position:absolute;
	top:0;
	left:60px;
	width:825px;
	height:510px;
	border:1px solid #ddd;
	overflow:hidden;
	border-radius:40px;
}
a.arrowLeft {
	position:absolute;
	top:219px;
	left:1px;
	width:37px;
	height:76px;
	display:inline-block;
	background:url('/rasem/arrows.png') 0 0;
}

a.arrowRight {
	position:absolute;
	top:219px;
	left:933px;
	width:37px;
	height:76px;
	display:inline-block;
	background:url('/rasem/arrows.png') -38px 0;
}