body{
    background:linear-gradient(to left,#679fd6 0%, #89bfd6 100%);//url('/rasem/kuk.jpg');
    background-size:100% 100%;
    font-family:Tahoma;
}
.clear{clear:both;}
#bash{
   //background:url('/rasem/kuk.jpg');
   //background-size:100% 100%;
}
.uzak, #ajaq{
    max-width: 1200px;
    min-width: 940px;
    clear:both;
    margin:0 auto;
    //background:yellow;
    //position:fixed;
}
#ajaq{color: white}
#bash #oeyga{
    color:orange;
    text-decoration:none;
    letter-spacing:1px;
    text-transform: uppercase;
    font-size:47px;
}
#oeyga img{
    border-radius:30px;
}
#bash h1{
    float:left;
    color:#241B18;
}
#title{text-transform: uppercase;}
#versia{float:right;margin-left: 10px;}
#versia a{font-size:14px;color:white;}
#versia a:hover{font-size:14px;color:yellow;}
#telefon{
    background: url('/rasem/trubka.png') no-repeat;
    background-size: 55px 55px;
    color:orange;
    letter-spacing:1px;
    font-size:47px;
    float:right;
    margin-top:21px;
    padding-left:60px;
}
#jort{
    color:#241B18;
    background:orange;
    border-radius:3px;
    padding-left:5px;
    padding-right:5px;
}
#title{float:left;margin-top:16px;}
ul, li {
    margin:0;
    padding:0;
    list-style-type:none;  
}
#menu_uze{float:right;padding-top:16px;postion:absolute;display:block;}
#menu_uze li{display:inline-block;margin-left:20px;height:28px;}
#menu_uze li ul li{display:block;border-bottom:1px solid white;padding:5px;margin:0;border-radius:15px;}
#menu_uze li a{
    text-decoration:none;color:yellow;
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    -moz-transition-duration: 2s;
    transition-duration: 2s;
}
#menu_uze li a:hover{
    color:white; text-decoration:underline;
     transform: matrix(1, 0, -0.5, 1, 0, 0);
    -moz-transform: matrix(1, 0, -0.5, 1, 0, 0);
    -webkit-transform: matrix(1, 0, -0.5, 1, 0, 0);
    -o-transform: matrix(1, 0, -0.5, 1, 0, 0);
    -ms-transform: matrix(1, 0, -0.5, 1, 0, 0); 
}
#menu_uze li ul{display:none;position:absolute; border-right:1px solid white; border-left:1px solid white;
    margin-top:12px;background:url('/rasem/buirana.jpg') ;border-radius:15px;}
#menu_uze li:hover ul{display:block;}
#bash_menu{
    text-transform: uppercase;
    color:white;
   // border-top:1px solid white;
   // border-bottom:1px solid white;
   border-radius:10px;
    font-size:14px;
    background:url('/rasem/buirana.jpg');
    //position:fixed;
}
.logo{
    background:url('/rasem/yort/767.jpg');
    background-size:100% 100%;
    width:43px;
    height:43px;
}
.divar{
    clear:both;
    margin-left:auto;
    margin-right:auto;
    //background:white;//url('/rasem/buirana.jpg');
    max-width: 1440px;
	
    min-width: 940px;
}
.aq{
    max-width: 1200px;
    min-width: 940px;
    clear:both;
    margin:0 auto;
    //background:white;//url('/rasem/buirana.jpg');
    min-height:500px;
}
.suz{
    background:white;
    clear:both;
    border-radius:30px;
    margin:0,auto;
    max-width: 1200px;
    min-width: 940px;
    min-height:60px;
    padding:20px;
    margin-bottom:20px;
}
#surat{clear:both; margin-left:auto;margin-right:auto;width:960px;}
a.gallery img{
   
}
form{
    clear:both;
    text-align: center;
    margin-bottom:20px;
}
input{
    height:30px;
    border:0;
    border-radius:10px;
    font-size:16px;
    
}
input[type="text"]{
    margin-right:50px;
}
input[type="submit"]{
    cursor:pointer;
    color:white;
    background:linear-gradient(to bottom right, #e4ac20 0%, #e28820 100%);
    font-weight:bold;
}
input[type="submit"]:hover{
    background:linear-gradient(to bottom right, #e28720 0%, #f16e24 100%);
}
h1{
    color:#EEE;
}