@font-face{font-family:"OpenSansRegular";src:url("/shrift/OpenSans/OpenSansRegular/OpenSansRegular.eot");src:url("/shrift/OpenSans/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
url("/shrift/OpenSans/OpenSansRegular/OpenSansRegular.woff") format("woff"),
url("/shrift/OpenSans/OpenSansRegular/OpenSansRegular.ttf") format("truetype");font-style:normal;font-weight:normal;}
@font-face{font-family:"OpenSansLight";src:url("/shrift/OpenSans/OpenSansLight/OpenSansLight.eot");src:url("/shrift/OpenSans/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
url("/shrift/OpenSans/OpenSansLight/OpenSansLight.woff") format("woff"),
url("/shrift/OpenSans/OpenSansLight/OpenSansLight.ttf") format("truetype");font-style:normal;font-weight:normal;}
@font-face{font-family:"OpenSansItalic";src:url("/shrift/OpenSans/OpenSansItalic/OpenSansItalic.eot");src:url("/shrift/OpenSans/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
url("/shrift/OpenSans/OpenSansItalic/OpenSansItalic.woff") format("woff"),
url("/shrift/OpenSans/OpenSansItalic/OpenSansItalic.ttf") format("truetype");font-style:normal;font-weight:normal;}
@font-face{font-family:"OpenSansBold";src:url("/shrift/OpenSans/OpenSansBold/OpenSansBold.eot");src:url("/shrift/OpenSans/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
url("/shrift/OpenSans/OpenSansBold/OpenSansBold.woff") format("woff"),
url("/shrift/OpenSans/OpenSansBold/OpenSansBold.ttf") format("truetype");font-style:normal;font-weight:normal;}
@font-face{font-family:"OpenSansExtraBold";src:url("/shrift/OpenSans/OpenSansExtraBold/OpenSansExtraBold.eot");src:url("/shrift/OpenSans/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
url("/shrift/OpenSans/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
url("/shrift/OpenSans/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");font-style:normal;font-weight:normal;}
@font-face{font-family:"OpenSansExtraBoldItalic";src:url("/shrift/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");src:url("/shrift/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
url("/shrift/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"),
url("/shrift/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");font-style:normal;font-weight:normal;}
@font-face{font-family:"OpenSansBoldItalic";src:url("/shrift/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.eot");src:url("/shrift/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
url("/shrift/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
url("/shrift/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");font-style:normal;font-weight:normal;}
@font-face{font-family:"OpenSansRegularItalic";src:url("/shrift/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.eot");src:url("/shrift/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
url("/shrift/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),
url("/shrift/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");font-style:normal;font-weight:normal;}
@font-face{font-family:"OpenSansSemiBold";src:url("/shrift/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot");src:url("/shrift/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
url("/shrift/OpenSans/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
url("/shrift/OpenSans/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");font-style:normal;font-weight:normal;}
@font-face{font-family:"OpenSansSemiBoldItalic";src:url("/shrift/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");src:url("/shrift/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
url("/shrift/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
url("/shrift/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");font-style:normal;font-weight:normal;}
body{
    background:white;
    font-family: OpenSansRegular;
}
.clear{clear:both;}
#bash{   
   background-color: #242424;
    width: 1400px;
    height: 141px;
    clear:both;
    margin:0 auto;
}
#oeyga{
    position: relative; 
    display: inline-block;
    width: 76px;
    height: 76px;
    left:103px;
    top:26px;
    border-radius:38px;
}
#oeyga img{
    
    width:51px;
    height: 44px;
    background: white;
}
.ostalar{
    position: relative;
    heiht:30px;
    line-height: 30px;
    top: 36px;
    left:0px;
    font-family: OpenSansBold;
    color: #ffffff;
    font-size: 41.65px;/* Approximation due to font substitution */
    font-weight: 700;
    text-align: left;
}
.modern{
    color: #ffffff;
    position: relative;
    left:0px;
    top:44px;
    font-size: 15px;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: left;
}
#telefon{
    position: relative;
    background: url('/rasem/trubka.png') no-repeat;
    background-size: 32px 32px;
    color: #fefefe;
    font-size:47px;
    display: block;
    top:36px;
    left:-14px;
    padding-left:58px;
    height:32px;
    line-height:32px;
    font-size: 42px;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: left;
}

#versia{
    position: relative;
    top: 65px;
    left: -80px;
    
    height:16px;
    line-height: 16px;
}
#versia span,
#versia a{
    display: inline-block;
    color: #adadad;
    font-size: 15px;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: left;
    height:16px;
    line-height: 16px;
}
.globus{
    margin-left: 0px;
    left:0;
    width: 16px;
    height: 16px;
    background: url("/rasem/globus.png") no-repeat;
}
#bash_menu{
    text-transform: uppercase;
    color:white;
    min-width: 400px;
   
   font-weight: bold;
   background-color: #fdd835;
    width: 1400px;
    height: 78px;
    clear:both;
    margin-left:auto;
    margin-right:auto;
}
#menu_uze{
    display:block;
    height: 78px;
    line-height: 78px;
    margin-left: 88px;
}
#menu_uze li{display:inline-block;margin-left:20px;height:78px;
   
}
#menu_uze li.saylangan{
    border-bottom: 4px solid #777777;
}
#menu_uze li.saylangan a{
    color: #777777;
}
#menu_uze li ul li{display:block;border-bottom:1px solid white;padding:5px;margin:0;border-radius:15px;}
#menu_uze li a{
    color: #242424;
    font-size: 16px;/* Approximation due to font substitution */
    font-weight: 700;
    font-family: OpenSansBold;
}
/*#menu_uze li a:hover{
    color:white; text-decoration:underline;
     transform: matrix(1, 0, -0.5, 1, 0, 0);
    -moz-transform: matrix(1, 0, -0.5, 1, 0, 0);
    -webkit-transform: matrix(1, 0, -0.5, 1, 0, 0);
    -o-transform: matrix(1, 0, -0.5, 1, 0, 0);
    -ms-transform: matrix(1, 0, -0.5, 1, 0, 0); 
}
#menu_uze li ul{display:none;position:absolute; border-right:1px solid white; border-left:1px solid white;
    margin-top:12px;background:url('/rasem/buirana.jpg') ;border-radius:15px;}
#menu_uze li:hover ul{display:block;}*/
.ezläw{
    border-style: solid;
    border-width: 1px;
    border-color:   #e1e1e1;
    color:black;
    background-color:  #ffffff;
    width: 214px;
    height: 41px;
    position: relative;
    top: -7px;
    
}
#ezlägech{
    background: url("/rasem/ezlägech.png");
    width: 22px;
    height: 22px;
    margin-top: 28px;
    display: inline-block;
    cursor:pointer;
}
.tən{
    width: 1400px;
    clear:both;
    margin:0 auto;
    
    top: 219px;
}
.yzba{
    width: 1400px;
    height: 436px;
    /*clear:both;
    margin:0 auto;*/
    background: url("/rasem/yzba.png") no-repeat;
    background-size: 100% 100%;
}
.line{
    width: 1197px;
    height: 404px;
    margin: 80px auto 0 auto;
}
.line__title{
    color:#242424;
    font-size: 40px;/* Approximation due to font substitution */
    font-weight: 300;
    text-align: left;
    height:36px;
    line-height: 36px;
}
.line__image{
    width: 335px;
    height: 335px;
    display: inline-block;
    margin-top: 34px;
}
.line__image:not(:first-child){
    margin-left:92px;
}
.uzak{
    max-width: 1200px;
    min-width: 400px;
    clear:both;
    margin:0 auto;
    
}
#ajaq{color: white;
    background:url("/rasem/buirana.jpg") repeat scroll;
    
    clear:both;
    margin:0 auto -5px;
    height: 100px;
    /*width:100%;*/
    min-width: 400px;
    max-height: 3600px;
}
#ajaq a{
    color: yellow;
    font-size: 24px;
}
#ajaq a:hover{
    color:orange;
}

#bash h1{
    float:left;
    color:#241B18;
}
#title{text-transform: uppercase;}
h1#title{
    width:100%;text-align: center;
}
#versia{float:right;margin-left: 10px;}
#versia a{/*font-size:14px;*/color:white;}
#versia a:hover{/*font-size:14px;*/color:yellow;}

#jort{
    color:#241B18;
    background:orange;
    border-radius:3px;
    padding-left:5px;
    padding-right:5px;
}
#title{float:left;margin-top:16px;}
ul, li {
    margin:0;
    padding:0;
    list-style-type:none;  
}


.logo{
    background:url('/rasem/yort/767.jpg');
    background-size:100% 100%;
    width:43px;
    height:43px;
}
.divar{
    clear:both;
    margin-left:auto;
    margin-right:auto;
   
    max-width: 1440px;
	
    min-width: 400px;
    min-height: calc(100vh - 203px);
}
/*.aq{
    max-width: 1200px;
    min-width: 400px;
    clear:both;
    margin:0 auto;
    
    min-height:500px;
}*/
.suz{
    width: 726px;
    clear: both;
    margin: 0 auto;
    position: relative;
    top:79px;
    font-family: OpenSansRegular;
    color: #ffffff;
    font-size: 20px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: center;
    
}
.töymə-1{
    position: relative;
    clear: both;
    margin: 0 auto;
    border-style: solid;
    border-width: 3px;
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    width: 266px;
    height: 71px;
    top:121px;
    color: #ffffff;
    line-height: 70px;
    border-radius: 35px;
    text-align: center;
    font-family: OpenSansRegular;
    text-transform: uppercase;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;

}
#surat{clear:both; margin-left:auto;margin-right:auto;width:960px;}
a.gallery img{
   border-radius:20px;
}
form{
    clear:both;
    text-align: center;
    margin:0 auto;
    /*position: fixed;*/
}
/*input{
    height:30px;
    border:0;
    border-radius:10px;
    font-size:16px;
    
}*/
/*input[type="text"]{
    margin-right:50px;
    padding-left:20px;
}*/
/*input[type="submit"]{
    cursor:pointer;
    color:white;
    background:linear-gradient(to bottom right, #e4ac20 0%, #e28820 100%);
    
    padding-left: 20px;
    padding-right: 20px;
    
}
input[type="submit"]:hover{
    background:linear-gradient(to bottom right, #e28720 0%, #f16e24 100%);
}*/
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}


a.gallery:not(:first-child){
    
}
a.gallery img{
   
}
.suzler{
    color:transparent; 
    height:10px;
    width:10px;
    position:fixed; margin-left:-9999px;
    text-decoration: none;
}

.title{
    margin:0;
    width:100%;
    text-align: center;
    font-family: OpenSansRegular;
    color: #ffffff;
    font-size: 73px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    top: 71px;
}
